.signin__close {
  background-image: url(../../images/close.png);
  height: 40px;
  width: 40px;
  position: absolute;
  top: -1em;
  right: -3em;
  background-color: transparent;
  border: none;
}

.signin__signup {
  width: 430px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  padding: 34px 36px 28px;
  margin: auto;
  margin-top: 20vh;
}

.signin {
  width: 430px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  padding: 34px 36px 28px;
  margin: auto;
  margin-top: 12.938em;
}

.signin__form {
  display: flex;
  flex-direction: column;
}
.signin__error {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0em 0em 1em 0em;
}
.signin__submit {
  width: 358px;
  height: 64px;
  background: #e6e8eb;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #b6bcbf;
  margin: 8px 0 0;
}

label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
}
input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
}

.signin__changetype {
  margin: auto;
  padding-top: 1em;
}

.signin__buttonValid {
  background: #2f71e5;
  color: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  width: 358px;
  height: 64px;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px 0 0;
}

.signin__changetype {
  font-family: "Inter","Arial",sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 16px 0 0;
  color: #2f71e5;
  border: none;
}
.signin__validationError {
  margin:auto;
}
.signin__username-warning {
  margin-bottom: 4em;
}