{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true

  },
  "plugins": [
    "react"
  ],
  "extends": ["plugin:react/recommended", "airbnb-base"],
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "allowIndentationTabs": 0,
    "no-tabs": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}