.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  margin: auto;
}

.navbar__black {
  color: black;
}

.navbar__top {
  width: 100%;
  padding: 16px 0px 16px 0px;
  border-bottom: 1px solid #c4c4c4;
}

.navbar-active {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1b22;
  box-shadow: 0 6px 10px 4px rgb(8 29 45 / 10%);
}

.navbar__links-container {
  list-style: none;
  padding: 0em;
}

.navbar__linkUser {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 176px;
  height: 48px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  background: none;
  margin: 0 0px 0 54px;
}

.navbar__title {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 16px;
}

.navbar__button {
  color: #fff;
  border: none;
  background: no-repeat url(../../images/menu.svg);
  position: absolute;
  top: 16px;
  right: 16px;
}
.navbar__button img {
  height: 24px;
  width: 24px;
}

.navbar-border-bottom {
  border-bottom: 3px solid #fff;
}

/* Default tablet start size */
@media (min-width: 415px) {

  .navbar__top {

    padding-right: 2.500em;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    margin: auto;
  }

  .navbar__linkhome {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 17px;
    text-align: center;
    height: 100%;

  }
  .navbar__links-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    margin: 0;
  }
}

@media (min-width: 800px) {
  .navbar__top {
    padding-right: 7.250em;
    padding-bottom: 0px;

  }
}
